/*CSS reqs:
Make use of inline, internal, and external styling.
Use five different CSS selectors.
Use colors that complement each other.
Coolors is one of many resources that can help you find a color palette.
Use Flexbox and/or the Bootstrap Grid.
Use at least two CSS animations.
*/

/*one animation - background color transition*/
@media only screen and (orientation: landscape) {
    body {
      background-color:#fff5ec;
    }
  }
  
  @media only screen and (orientation: portrait) {
    body {
      background-color: pink;
    }
  } 

body{ /*removes the space from the top of the website and the side margins*/
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    text-align: center;
    margin: 0;
    color: black;
}

/* Header Styles */
.header {
    position: relative;
    text-align: center;
    background-image: url('zoom.PNG');
    background-size:cover;
    background-position: center;
}


/*create a hover selector border for the nav bar*/
nav { 
    list-style-type: none;
    display: flex; /*adds nav bar onto one line*/
    justify-content: space-evenly; /* Align the navigation items to the right */
    padding: 10px;   
    background-color: pink;
}

/*nav bar list formatting*/
nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /*removes the underline from the link*/
}

/*nav bar changes color when the mouse hovers over the text*/
nav a:hover {
    color: #e971a3;
}


/*this is the code for the 'Marabella Cupcakes' text in front of the header image on the home page*/
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure text appears above the GIF */
    font-size: 24px; /* Adjust font size as needed */
    background-color: transparent; /* Set background color to transparent */
}


/*lines 82 - 101 styles the gallery images*/
.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}
 
.card-body {
    width: auto;
    margin-bottom: 20px;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}
  
.img-container img {
    max-width: 300px;
    height: 300px; /* Ensures the image fills the container height */
}

/*Images on the home page ONLY*/
.img-container:hover {
    box-shadow: 0 0 10px 10px rgba(248, 237, 173, 0.5);
}

.gif-container{
    margin: 30px;
}

